/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    --swiper-theme-color: #7a7a7a;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #cd94ff;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 20px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
    color: #cd94ff;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: #090909;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #cd94ff;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #d4a2ff;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    margin-top: 15px;
    margin-left: 22px;
    transform: scale(-5);
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #090909;
    font-family: "Roboto", sans-serif;
    margin-top: 3px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    margin-right: 100px;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #454545;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    /* color: #59e691; */
    color: #000;
    /* transform: scale(1.05); */
    transition: 0.3s;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #090909;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    /* color: #fff; */
    /* top: 15px;
  right: 15px;
  transition: 1s; */
}

@media (max-width: 991px) {
    .header .logo img {
        transform: scale(1);
    }
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    /* background: rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 1s;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 50px 20px;
    left: 0;
    /* background-color: #fff; */
    overflow-y: auto;
    transition: 1s;
}

.navbar-mobile a {
    padding: 12px 20px;
    font-size: 22px;
    color: #090909;
    transition: 1s;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #d09efc;
}


/*--------------------------------------------------------------
# landing Section
--------------------------------------------------------------*/

.landing {
    width: 100%;
    height: 100vh;
    background: url(../img/landing_bg.svg) top center no-repeat;
    background-size: cover;
}

.landing h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #090909;
}

.landing h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.landing .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #cd94ff;
    box-shadow: 0px 5px 30px #ba8ce9;
}

.landing .btn-get-started span {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.landing .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.landing .btn-get-started:hover i {
    transform: translateX(5px);
    background: #cd94ff;
}

.landing .btn-get-started:hover {
    background: #cd94ff;
}

.landing .landing-img {
    text-align: right;
}

@media (min-width: 1024px) {
    .landing {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .landing {
        height: auto;
        padding: 120px 0 60px 0;
    }
    .landing .landing-img {
        text-align: center;
        margin-top: 80px;
    }
    .landing .landing-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .landing {
        text-align: center;
    }
    .landing h1 {
        font-size: 32px;
    }
    .landing h2 {
        font-size: 24px;
    }
    .landing .landing-img img {
        width: 100%;
    }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content {
    padding: 5px;
}

.about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #cd94ff;
    text-transform: uppercase;
}

.about h2 {
    font-size: 34px;
    font-weight: 700;
    color: #090909;
}

.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}

.about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #cd94ff;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.about .btn-read-more:hover i {
    transform: translateX(5px);
}


/*--------------------------------------------------------------
# offerings
--------------------------------------------------------------*/

.offerings {
    background: url(../img/services_bg.svg) top center no-repeat;
    background-size: cover;
}

.offerings .p {
    margin-top: -10px;
    margin-bottom: 40px;
}

.offerings h2 {
    letter-spacing: 2px;
}

.offerings .box p {
    font-size: 14px;
    padding-bottom: 20px;
}

.offerings .box {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    border-radius: 12px;
    transition: 0.3s;
    height: 100%;
}

.offerings .box img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
}

.offerings .box h3 {
    font-size: 20px;
    color: #090909;
    font-weight: 500;
    margin-bottom: 18px;
}

.offerings .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.offerings .box:hover img {
    transform: scale(1.2);
}


/*--------------------------------------------------------------
# works
--------------------------------------------------------------*/

.works {
    width: 100%;
    background: url(../img/line_3.svg) left center no-repeat;
    background-size: cover;
}

.works .p {
    margin-bottom: 40px;
}

.works h2 {
    letter-spacing: 2px;
}

.works .box p {
    font-size: 14px;
    padding-bottom: 20px;
}

.works .box {
    padding: 20px;
    margin: 0 20px;
    background-color: #fff;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    border-radius: 12px;
    transition: 0.3s;
    margin: auto;
    max-width: 90%;
    margin-bottom: 40px;
    text-transform: initial;
}

.works .box img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
}

.works .box h3 {
    font-size: 20px;
    color: #090909;
    font-weight: 500;
    margin-bottom: 18px;
}

.works .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.works .box:hover img {
    transform: scale(1.2);
}

.swiper-button-next {
    background-image: url(../img/arrow_next.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 1;
    outline: none;
}

.swiper-button-prev {
    background-image: url(../img/arrow_previous.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    opacity: 1;
    outline: none;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/

.faq {
    /* margin-top: -50px; */
    background: url(../img/line_4.svg) right center no-repeat;
    background-size: contain;
}

.faq .accordion-collapse {
    border: 0;
}

.faq .accordion-button {
    padding: 15px 15px 20px 0;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    color: #444444;
    text-align: left;
}

.faq .accordion-button:focus {
    box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
    background: none;
    color: #cd94ff;
    border-bottom: 0;
}

.faq .accordion-body {
    padding: 0 0 25px 0;
    border: 0;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials {
    background: url(../img/bubble_2.svg) left center no-repeat;
    background-size: cover;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    /* box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff; */
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.testimonials .testimonial-item .stars {
    margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
    color: #cd94ff;
    margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
    padding-bottom: 20px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    text-transform: initial;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #cd94ff;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #cd94ff;
}

.testimonials .swiper-slide {
    opacity: 0.5;
    transform: scale(0.8);
    transition: 0.33s;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }
    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

.clients {
    margin-bottom: 100px;
}

.clients .clients-slider .swiper-slide img {
    /* opacity: 0.5; */
    transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
    opacity: 1;
}

.clients .clients-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #cd94ff;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #cd94ff;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background: white url(../img/bubble_3.svg) no-repeat right bottom;
    background-size: contain;
    padding: 0 0 100px 0;
    font-size: 14px;
}

@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
    max-height: 100px;
    margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #818181;
    font-family: "Roboto", sans-serif;
    margin-top: 3px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: #818181;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #4e4e4e;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #818181;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer p {
    color: #818181;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #7a7a7a;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: #818181;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    color: #cd94ff;
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}